/* default customizations */

/* REMOVES ALL DEFAULT PADDINGS/MARGINS
   USE IN FUTURE

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

:root {
    background-color: #ffffff;
}


body {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
    text-decoration-color: #ffccff;
}

.header {
    margin-top: 50px;
    font-size:40px;
    text-decoration: underline;
    text-decoration-color:#ffccff
}

.navbar {
    position:fixed;
    bottom:0;
    width:100%;
    height: 10%;
    transition: bottom 0.5s;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background-color: #fff;
    box-shadow: 0px -1px 5px #ffccff;

}

.about-page #snackbar, .work-page #snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #fffaff;
    border: 1px solid #ffccff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 12%;
    z-index: 1;
    font-size: 15px;

    right: 50%;
    transform: translateX(50%);
}

.about-page #snackbar.show, .work-page #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein-more 0.75s, fadeout-more 0.75s 2.5s;
    animation: fadein-more 0.75s, fadeout-more 0.75s 2.5s;
}

@-webkit-keyframes fadein-more {
    from {bottom: 0; opacity: 0;}
    to {bottom: 12%; opacity: 1;}
}

@keyframes fadein-more {
    from {bottom: 0; opacity: 0;}
    to {bottom: 12%; opacity: 1;}
}

@-webkit-keyframes fadeout-more {
    from {bottom: 12%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout-more {
    from {bottom: 12%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* home page */

.homepage {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 800px;
    min-height: 100vh;
}

#greeting {
    font-family: "Noto Serif", serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    margin-bottom: -45px;

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.5s ease-in-out;
}


.welcome {
    text-align: center;
    font-size: 40px;
}

.links {
    font-size: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.links .about-link {
    margin-top: -25px;
}

.links .work-link {
    margin-bottom: 10px;
}

.links .night-mode {
    width: 5%;
    height: auto;
    cursor: pointer;
}
.credits {
    margin-top: 100px;
    font-size: 15px;
    color: gray;
    text-align: center;
}

.homepage #snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #fffaff;
    border: 1px solid #ffccff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 30px;
    z-index: 1;
    font-size: 15px;

    right: 50%;
    transform: translateX(50%);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: slideUp 0.5s, slideDown 0.5s 2.5s;
    animation: slideUp 0.5s, slideDown 0.5s 2.5s;
}

@-webkit-keyframes slideUp {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes slideUp {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes slideDown {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes slideDown {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* about page */
.about-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width:800px;

}


.bio {
    font-size: 25px;
}

.roles {
    list-style-type: circle;
    font-size: 25px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.email {
    padding: 1%
}

.email-button {
    max-width: 24px;
    width: auto;
    height: auto;
}

.linkedin {
    padding:1%;
}

.linkedin-button {
    max-width:24px;
    width: auto;
    height: auto;
}

.github {
    padding: 1%;
}

.github-button {
    max-width: 24px;
    width: auto;
    height: auto;
}


.home-icon {
    max-width: 30px;
    width: auto;
    height: auto;
    margin-bottom: -5px;
    padding-left: 50px;
}

.navbar .night-mode {
    max-width: 30px;
    width: auto;
    height: auto;
    margin-bottom: -5px;
    padding-right: 50px;
    cursor: pointer;
}

#link-about, #link-work {
    font-size: 25px;
}


/*work page */
.work-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 800px;
}

.work-content {
    width:100%;
}

.work-intro {
    font-size: 25px;
}

.project-1-closed, .project-2-closed, .project-3-closed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.semester-fall {
    padding-right: 50px;
    white-space: nowrap;
}

.semester-spring {
    padding-right: 20px;
    white-space: nowrap;
}

.project-1-closed p, .project-2-closed p, .project-3-closed p{
    margin: 0;
}

.dropdown-arrow {
    max-width:15px;
    width:100%;
    height: auto;
    cursor: pointer;
}

.dropdown-header {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.project-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffccff;
}

.drop-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
}

.content {
    width: 100%;
    max-height: 0;
    background-color: #fffaff;
    overflow: hidden;
    transition: max-height 0.5s linear, opacity 0.3s linear;
}

.content.show {
    max-height: 500px;


    overflow:auto;


    -webkit-animation: contentSlideDown 0.5s;
    animation: contentSlideDown 0.5s;
}


@keyframes contentSlideDown {
    from {bottom: 0px; opacity: 0;}
    to {bottom: 100%; opacity: 1;}
}


.content p {
    text-align: left;
    font-size: 18px;
}
