:root {
    --background-color: #000;
    --link-hover-color: #7871aa;
    --selected-color: #4e5283;
}

body {
    font-family: 'Baskerville', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* home page */

.main {
    background-color: #fff;
    width: 65vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    border: 1px solid black;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 90%;
}

.homepage p {
    margin: 0;
}

.main .greeting {
    font-size: 35px;
    font-weight: 550;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main .welcome {
    font-size: 20px;
    margin: 5px;
}

.directory {
    font-size: 20px;
    padding-top: 15px;
    display: flex;
    gap: 30px;
}

.directory a {
    color: #000;
    transition: 0.1s;
}

.directory a:hover {
    color: var(--selected-color);
}

.credits {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

.credits a {
    color: #fff;
    transition: 0.1s;
}

.credits a:hover {
    color: var(--selected-color);
}

/* about me page */
.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    width: 97vw;
    height: 97vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar a {
    color: #fff;
    transition: 0.1s;
    font-size: 20px;
}

.navbar a:hover {
    color: var(--selected-color);
}

.navbar .credits a {
    font-size: 12px;
}

.navbar a.current {
    font-weight: bold;
}

.about-background {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 75vw;
    height: 70vh;
}

.about-content {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    width: 97%;
    height: 95%;
    margin: auto;
}


