/* default customizations */

/* REMOVES ALL DEFAULT PADDINGS/MARGINS
   USE IN FUTURE

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

:root {
    background-color: #ffffff;
}


body {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
    text-decoration-color: #ffccff;
}

.header {
    margin-top: 50px;
    font-size:40px;
    font-weight: 1000px;
    text-decoration: underline;
    text-decoration-color:#ffccff
}

.navbar {
    position:fixed;
    bottom:0;
    width:100%;
    height: 10%;
    transition: bottom 0.5s; /* maybe bottom here */

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background-color: #fff;
    box-shadow: 0px -1px 5px #ffccff;

}

/* home page */

.homepage {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.greeting {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -45px;
}

.welcome {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.links {
    font-size: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.links .about-link {
    margin-top: -25px;
}

.links .work-link {
    margin-bottom: 10px;
}

.links .night-mode {
    width: 5%;
    height: auto;
}
.credits {
    margin-top: 100px;
    font-size: 15px;
    text-align: center;
}

/* about page */
.about-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width:600px;

}


.bio {
    font-size: 25px;
}

.roles {
    list-style-type: circle;
    font-size: 25px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.email {
    padding: 1%
}

.email-button {
    max-width: 24px;
    width: auto;
    height: auto;
}

.linkedin {
    padding:1%;
}

.linkedin-button {
    max-width:24px;
    width: auto;
    height: auto;
}

.github {
    padding: 1%;
}

.github-button {
    max-width: 24px;
    width: auto;
    height: auto;
}


.home-icon {
    max-width: 30px;
    width: auto;
    height: auto;
    margin-bottom: -5px;
    padding-left: 50px;
}

.navbar .night-mode {
    max-width: 30px;
    width: auto;
    height: auto;
    margin-bottom: -5px;
    padding-right: 50px;
}

#link-about, #link-work {
    font-size: 25px;
}


/*work page */
.work-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width:600px;
}

.work-content {
    width:100%;
}

.project-1-closed, .project-2-closed, .project-3-closed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.semester-fall {
    padding-right: 50px;
    white-space: nowrap;
}

.semester-spring {
    padding-right: 30px;
    white-space: nowrap;
}

.project-1-closed p, .project-2-closed p, .project-3-closed p{
    margin: 0;
}

.dropdown-arrow {
    max-width:15px;
    width:100%;
    height: auto;
    cursor: pointer;
}

.dropdown-header {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.project-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffccff;
}

.drop-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
}

.content {
    width: 100%;
    max-height: 0;
    background-color: #fffaff;
    overflow: hidden;
}

.content.show {
    max-height: 300px;
    overflow:auto;
}



